<h1>Hello World!</h1>
<!-- Coming from app.component.ts -->
<p>{{title}}</p>
<p>{{appName}}</p>

<!-- Angular interpolation -->
<h1>Angular Interpolation</h1>
<h2>Angular Variables</h2>
<p>variable name: {{name}}</p>

<!-- Angular function -->
<h2>Angular Functions</h2>
<p>function getName(): {{getName()}}</p>
<p>function getNameA(): {{getNameA()}}</p>

<!-- Angular object -->
<h2>Angular Objects</h2>
<p>object myObj: {{myObj}}</p>
<p>object myObj.name: {{myObj.name}}</p>
<p>object myObj.age: {{myObj.age}}</p>

<!-- Angular array -->
<h2>Angular Arrays</h2>
<p>array myArr: {{myArr}}</p>
<p>array myArr[0]: {{myArr[0]}}</p>
<p>array myArr[0] + myArr[1]: {{myArr[0] + myArr[1]}}</p>
<p>array myArr.length: {{myArr.length}}</p>

<!-- Access window object -->
<h2>Access Window Object</h2>
<p>window object siteUrl: {{siteUrl}}</p>

<!-- Arithmetic operations -->
<h2>Arithmetic Operations</h2>
<p>10/10: {{10/10}}</p>
<p>20*(30+1): {{20*(30+1)}}</p>

<!-- Angular components -->
<h1>Angular Components</h1>
<app-user-list></app-user-list>

<!-- Angular modules -->
<h1>Angular Modules</h1>
<app-login></app-login>
<app-signup></app-signup>

<!-- Angular Call functions -->
<h1>Angular Call Functions</h1>
<!-- Define a click event (click) -->
<button (click)="getTheName()">(click)="getTheName()"</button>
<!-- Pass a parameter to the function -->
<button (click)="getAName('A Name')">(click)="getAName('A Name')"</button>
<!-- myName property of the component will go to the function -->
<button (click)="getAName(myName)">(click)="getAName(myName)"</button>

<!-- Angular events -->
<h1>Angular Events</h1>
<!-- Call the function at every click event -->
<button (click)="myEvent('click')">(click)="myEvent('click')"</button>
<!-- Call the function at every key up event -->
<p>Event keyup</p>
<input type="text" (keyup)="myEvent('keyup')" /> 
<!-- Get the text box value with an id (#inputValue) -->
<p>Get the text box value</p>
<input type="text" #inputValue (keyup)="myEvent(inputValue.value)" /> 
<!-- Call the function at every key down event -->
<p>Event keydown</p>
<input type="text" #inputValue2 (keydown)="myEvent(inputValue2.value)" /> 
<!-- Call the function with a specific key press -->
<p>Event keyup.enter</p>
<input type="text" #inputValue3 (keyup.enter)="myEvent(inputValue3.value)" /> 
<p>Event keyup.space</p>
<input type="text" #inputValue4 (keyup.space)="myEvent(inputValue4.value)" /> 
<!-- When clicked outside the text box blur event is called -->
<p>Event blur (click outside the text box)</p>
<input type="text" (blur)="myEvent('')" />
<!-- Call function when cursor hover over the header -->
<h1 (mouseover)="myEvent('')" style="background-color: blue;">mouseover</h1>
<!-- Call function when cursor leaves the header -->
<h1 (mouseleave)="myEvent('')" style="background-color: red;">mouseleave</h1>
<!-- Possible to use different events at the same time -->
<h1 (mouseleave)="myEvent('')" (mouseover)="myEvent('')" style="background-color: green;">mouseover and mouseleave</h1>

<!-- Get input box value -->
<h1>Get Input Box Value</h1>
<p>getValue($event.target.value)</p>
<input type="text" (keyup)="getValue($event.target.value)" />

<!-- Set the value of the paragraph using the button -->
<p>{{currentValue}}</p>
<input type="text" #inputBox />
<button (click)="setValue(inputBox.value)">(click)=setValue(inputBox.value)</button>

<!-- Property Binding -->
<h1>Property Binding</h1>
<p>[value] = "bindName" value = "{{'bindName'}}"</p>
<!-- Use property binding-->
<input type="text" [value]="bindName" />
<!-- Use interpolation-->
<input type="text" value="{{bindName}}" />

<!-- Property binding can change this disable attribute -->
<p>Disable or enable the input boxes using the button</p>
<input type="text" [disabled]="enabled" />
<!-- Interpolation cannot change this disable attribute -->
<input type="text" disabled="{{enabled}}" />
<button (click)="enableBox()">(click)="enableBox()"</button>

<!-- Angular conditions -->
<h1>Angular Conditions</h1>
<!-- Create if and else templates-->
<ng-template #ifBlock>
  <p>If block</p>
</ng-template>
<ng-template #elseBlock>
  <p>Else block</p>
</ng-template>
<!-- Create paragraphs using conditional statemets -->
<!-- If block-->
<p *ngIf="show">If block</p>
<!-- Else block -->
<p *ngIf="!show else elseBlock"></p>
<!-- If and Else block-->
<p *ngIf="show then ifBlock else elseBlock"></p>

<!-- Use property binding -->
<ng-template [ngIf]="show">
  <p>ElseIf block</p>
</ng-template>
<ng-template [ngIf]="!show == false">
  <p>ElseIf block</p>
</ng-template>
<ng-template [ngIf]="show != null">
  <p>ElseIf block</p>
</ng-template>

<!-- Angular switch-case -->
<h1>Angular Switch-Case</h1>
<div [ngSwitch]="color">
  <p style="color: red;" *ngSwitchCase="'red'">Red</p>
  <p style="color: green;" *ngSwitchCase="'green'">Green</p>
  <p style="color: blue;" *ngSwitchCase="'blue'">Blue</p>
  <p style="color: purple;" *ngSwitchDefault>Default</p>
</div>

<!-- Angular for loop -->
<h1>Angular For Loop</h1>
<!-- Use strings -->
<p *ngFor="let item of numbers">{{item}}</p>
<!-- Use objects -->
<p *ngFor="let item of objects">name: {{item.name}}, age:{{item.age}}</p>
<!-- Use a table element -->
<table border="1">
  <tr>
    <td>name</td>
    <td>age</td>
  </tr>
  <tr *ngFor="let item of objects">
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
  </tr>
</table>

<!-- Angular forms -->
<h1>Angular Forms</h1>
<!-- Use ngSubmit event to get values by pressing the button -->
<form #simpleForm="ngForm" (ngSubmit)="getFormValues(simpleForm.value)">
  <!-- Use ngModel to add field to the form values -->
  <input type="text" ngModel name="user" placeholder="Name" /><br>
  <input type="text" ngModel name="age" placeholder="Age" /><br>
  <input type="password" ngModel name="password" placeholder="Password" /><br>
  <button>(ngSubmit)="getValues(simpleForm.value)"</button>
</form>

<!-- Header and Footer -->
<!-- Place the header and footer.
     Where they called is not important.
     Since their styles are arranged to fix their
     positions to top and bottom of the page. -->
<app-header></app-header>
<app-footer></app-footer>

<!-- Angular style binding -->
<h1>Angular Style Binding</h1>
<p style="color: red">Red</p>
<p [style.color]="'green'" [style.backgroundColor]="'black'">Green</p>
<p [style.color]="colorToBind" [style.backgroundColor]="'black'">Yellow</p>
<button (click)="updateColor()">updateColor()</button>
<!-- Use a condition to change the color -->
<p [style.color]="condition ? 'red' : 'green'" [style.backgroundColor]="'black'">Conditional Color</p>
<button (click)="updateCondition()">updateCondition()</button>

<!-- Angular Bootstrap -->
<h1>Angular Bootstrap</h1>
<!-- https://ng-bootstrap.github.io/#/components/alert/examples -->
<!-- Basic Alert -->
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong>
  </ngb-alert>
</p>
<!-- Closable Alert -->
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<button type="button" class="btn btn-primary" (click)="reset()">Reset</button>

<!-- Angular Material -->
<h1>Angular Material</h1>
<!-- Angular mat-button -->
<!-- https://material.angular.io/components/button/examples -->
<h2>Angular mat-button</h2>
<button mat-button color="primary">Angular material button</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>
<!-- Angular mat-slider -->
<!-- https://material.angular.io/components/slider/examples -->
<h2>Angular mat-slider</h2>
<mat-slider max="10" min="1" color="accent"></mat-slider>
<mat-slider step="4" tickinterval="3" color="accent"></mat-slider>

<!-- Pass data from parent to child component -->
<h1>Pass Data from Parent to Child Component</h1>
<app-child [input]="dataToPass" [objectInput]="objectToPass"></app-child>

<!-- Reusable component -->
<h1>Reusable component</h1>
<div *ngFor="let item of arrayToPass">
  <app-child2 [input]="item"></app-child2>
</div>

<!-- Send data from child to parent component -->
<h1>Send Data from Child to Parent Component</h1>
<p>name: {{takenData.name}}, age: {{takenData.age}}</p>
<app-child3 (getData)="getData($event)"></app-child3>

<!-- Angular pipes -->
<h1>Angular Pipes</h1>
<h2>Pipes with strings</h2>
<p>{{s | uppercase}}</p>
<p>{{s | titlecase}}</p>
<p>{{s | lowercase}}</p>
<h2>Pipes with dates</h2>
<p>{{d | date}}</p>
<p>{{d | date:'fullDate'}}</p>
<h2>Pipes with slice</h2>
<p>{{s | slice:2}}</p>
<p>{{s | slice:2:3}}</p>
<h2>Pipes with currency</h2>
<p>{{m | currency:'USD'}}</p>
<p>{{m | currency:'EUR'}}</p>

<!-- Angular routing -->
<h1>Angular Routing</h1>
<p><a routerLink="user">User</a></p>
<p><a routerLink="admin">Admin</a></p>
<router-outlet></router-outlet>

<!-- 404 Page not found -->
<h1>404 Page not found</h1>
<!-- Define outlets in the router link -->
<p><a [routerLink]="[{ outlets: { notFound: ['user'] } }]">User</a></p>
<p><a [routerLink]="[{ outlets: { notFound: ['admin'] } }]">Admin</a></p>
<!-- Assing name property of the outlet -->
<router-outlet name="notFound"></router-outlet>

<!-- Custom directives -->
<!-- Directives can only be used in html -->
<!-- Directives are used to modify an html element -->
<h1>Custom Directives</h1>
<p>Normal paragraph</p>
<p appCustomStyle>Custom paragraph</p>
