<h1>Hello World!</h1>
<!-- Coming from app.component.ts -->
<p>{{title}}</p>
<p>{{appName}}</p>

<!-- Angular interpolation -->
<h1>Angular Interpolation</h1>
<h2>Angular Variables</h2>
<p>variable name: {{name}}</p>

<!-- Angular function -->
<h2>Angular Functions</h2>
<p>function getName(): {{getName()}}</p>
<p>function getNameA(): {{getNameA()}}</p>

<!-- Angular object -->
<h2>Angular Objects</h2>
<p>object myObj: {{myObj}}</p>
<p>object myObj.name: {{myObj.name}}</p>
<p>object myObj.age: {{myObj.age}}</p>

<!-- Angular array -->
<h2>Angular Arrays</h2>
<p>array myArr: {{myArr}}</p>
<p>array myArr[0]: {{myArr[0]}}</p>
<p>array myArr[0] + myArr[1]: {{myArr[0] + myArr[1]}}</p>
<p>array myArr.length: {{myArr.length}}</p>

<!-- Access window object -->
<h2>Access Window Object</h2>
<p>window object siteUrl: {{siteUrl}}</p>

<!-- Arithmetic operations -->
<h2>Arithmetic Operations</h2>
<p>10/10: {{10/10}}</p>
<p>20*(30+1): {{20*(30+1)}}</p>
