/* Assign margin and padding properties of body.
   It should not overlap with the header and footer. */
body{
  /* Since styles are changed with the bootstrap update the margin. */
  margin: 50px 0px 20px 0px;
  padding: 20px 0px 60px 0px;
}

html { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
